body{
    background-color:rgb(255, 255, 255);
    background-size: cover;
    align-items: center;
    justify-content: center;
    display: flex;
    
}
.form-login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 650px;
    margin-top: 110px;
    
}
.form-login:hover{
    box-shadow: 0 0 100px #ec0594, 0 0 40px #ec0594,0 0 80px #f32183;

}
